/*****************************
  Category
*****************************/

/* Category Style-01 */
.category-style-01 {
	margin-bottom: 30px;

	.category-img {
		position: relative;

		.category-tag {
			position: absolute;
			bottom: -1px;
			left: 0;
			background: $white;
			min-width: 260px;
			text-align: center;
			padding: 22px;

			a {
				&:hover {
					color: $primary;
				}

			}

		}

	}

}

/* Category Style-02 */
.category-style-02 {
	.category-img {
		position: relative;

		.category-info {
			background: rgba($white, 0.9);
			position: absolute;
			top: 50%;
			left: 50%;
			padding: 35px 40px;
			transform: translate(-50%, -50%);
		}

	}

}

/*****************************
 Responsive
*****************************/
@media (max-width:1366px) {
	.category-style-01 {
		.category-img {
			.category-tag {
				min-width: 180px;
				padding: 15px;
			}

		}

	}

}

@media (max-width:991px) {
	.category-style-02 {
		.category-img {
			.category-info{
				padding: 20px 25px;
				h4{
					font-size: 20px;
					line-height: 30px;
				}
			}
		}
	}
	
}


@media (max-width:767px) {
	.category-style-01 {
		.category-img {
			.category-tag {
				min-width: 160px;
				padding: 10px;
			}

		}

	}

}

@media (max-width:575px) {
	.category-style-02 {
		.category-img {
			.category-info{
				padding: 10px 15px;
				h4{
					font-size: 16px;
					line-height: 22px;
				}
			}
		}
	}

}
